<md-content>


<md-content layout-padding style="padding: 24px;">
  	<!--md-button md-no-ink class="md-primary"  href="#/practiceSight/{{studentID}}">Practice Sight Words</md-button><br/-->

<p class="md-subhead">
<div layout="row">
  <div flex="66">
 
	Choosing a health plan can be complicated. There are a lot of things to take into account.
<br/><br/>
	There are several important things to consider when you compare Marketplace plans.
<br/><br/>
	<ul>
	<li><b>Plan category: </b>There are 5 categories of Marketplace insurance plans: Bronze, Silver, Gold, Platinum, and Catastrophic. Plans in these categories differ based on how you and the plan share the costs of your care. The categories have nothing to do with the amount or quality of care you get. <br/><br/></li>
	<li><b>Monthly premiums: </b>This is the amount you pay your insurance company for your plan, usually monthly, whether you use medical services or not.<br/><br/></li>
	<li><b>Out-of-pocket costs:</b> These include the costs you pay before your insurance begins to pay its share (your deductible, copayments, coinsurance, and your out-of-pocket maximum).<br/><br/></li>
	<li><b>Type of insurance plan and provider network:</b> Some types of plans allow you to see almost any doctor or health care facility. Others limit your choices to a network of doctors and facilities, or require you to pay more if you use providers outside the network.<br/><br/></li>
	<li><b>Benefits: </b>All plans sold through the Marketplace provide the same essential health benefits and cover pre-existing conditions and offer free preventive services. But some plans offer additional benefits.<br/></li>
	</ul>
	</div>
	<div flex>
	</div>
</div>		
</p>

</md-content>

<br/>
<br/>



</md-content>
