<!--- MAIN BODY -->
<div layout="row">
    <div flex="50">
      <md-content layout-padding style="padding: 24px;" height="500px">
        <h1 class="md-headline">
        <p>Selecting a health insurance plan is complicated.</p>
        </h1>
        <br/>
        
        <h1 class="md-headline">
        <p>The plan with the lowest premium could cost you <u><i>more</i></u> when all costs are considered.</p>
        </h1>
        <br/>

        <h1 class="md-headline">
        <p>We will help you estimate the total costs of your plan options.</p>
        </h1>
        <br/>

        <h1 class="md-headline">
        
            <md-button class="md-raised md-primary" href="#/analyze">Start</md-button> 
        
        </h1>
        <br/><br/><br/><br/><br/><br/><br/>

         <!--  userModel.calcs.plan_0_scen_0.incur_paid = {{userModel.calcs.plan_0_scen_0.incur_paid}} -->
        

        </md-content>
    </div>

    <div flex="50" style="padding: 24px;">
      <img height="333" width="500" src="img/25172299-Health-insurance-application-form-with-pen-calculator-and-glasses-Stock-Photo.jpg"/>
    </div>

</div>

 <!-- FILLER
<div layout="row" flex>
</div>   -->
