<!--- MAIN BODY -->
    
    
      <img width="100%" src="img/canva_graphic_3.png" style="vertical-align:top;"/>
    
    <div style="padding: 24px;">
      <md-content layout-padding style="padding: 24px;">
        <h1 class="md-headline">
        <p>Selecting a health insurance plan is complicated.</p>
        </h1>
        <br/>
        
        <h1 class="md-headline">
        <p>The plan with the lowest premium could cost you <u><i>more</i></u> when all costs are considered.</p>
        </h1>
        <br/>

        <h1 class="md-headline">
        <p>We will help you estimate the total costs of your plan options.</p>
        </h1>
        <br/>

        
            <md-button class="md-raised md-primary" href="#/analyze">Decide</md-button> 
        
        <h1 class="md-headline">
        </h1>
        <br/><br/><br/><br/><br/><br/><br/>

        </md-content>
    </div>

<!-- div layout="row"> OLD PAGE
    <div flex="50">
      <md-content layout-padding style="padding: 24px;" height="500px">
        <h1 class="md-headline">
        <p>Selecting a health insurance plan is complicated.</p>
        </h1>
        <br/>
        
        <h1 class="md-headline">
        <p>The plan with the lowest premium could cost you <u><i>more</i></u> when all costs are considered.</p>
        </h1>
        <br/>

        <h1 class="md-headline">
        <p>We will help you estimate the total costs of your plan options.</p>
        </h1>
        <br/>

        <h1 class="md-headline">
        
            <md-button class="md-raised md-primary" href="#/analyze">Start</md-button> 
        
        </h1>
        <br/><br/><br/><br/><br/><br/><br/>

        </md-content>
    </div>

    <div flex="50" style="padding: 24px;">
      <img height="333" width="500" src="img/25172299-Health-insurance-application-form-with-pen-calculator-and-glasses-Stock-Photo.jpg"/>
    </div>

</div-->

 <!-- FILLER
<div layout="row" flex>
</div>   -->
